<mat-toolbar color="primary" *ngIf="authService.loggedIn()">
  <mat-toolbar-row>
    <span>Base Project</span>
   
    <button mat-button [routerLink]="['/users']">User</button>
    <!-- <button mat-button >Logout</button> -->
    <div class="right"> 
        <button mat-icon-button [matMenuTriggerFor]="menu" class="">
            {{authService.decodedToken?.sub | titlecase}}
          <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <mat-menu #menu="matMenu" class="">
      <button mat-menu-item>
        <mat-icon>perm_identity</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item  (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>

<div class="container-fluid">
    <router-outlet> </router-outlet>
</div>

