

<div class="title-grid"><h1 class=""> Usuarios </h1></div>

<div class="example-button-row margin-bottom-20">   
    <button mat-raised-button color="primary" (click)="createUser()">
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      Crear
    </button>
</div>
  
<div class="margin-bottom-20 ">
  <form (ngSubmit)="getAll()">
    
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header >
            <mat-panel-title >
              <i class="material-icons">filter_list</i>
              Filters
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <mat-form-field>
              <input matInput placeholder="Email" [(ngModel)]="this.filters.email" name="email">
          </mat-form-field>
          <button mat-raised-button color="primary" class="margin-right-10" type="submit">
            <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon>
              Search
          </button>

          <button mat-raised-button  (click)="clearFilters()">
            <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
              Clear
          </button>

        </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>


<div class="mat-elevation-z8 ">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!--First Name Column -->
      <ng-container matColumnDef="firstName" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th> 
          
          <td mat-cell *matCellDef="let row" (click)="goToEdit(row)"> {{row.firstName}} </td>
      </ng-container>

          <!--Last Name Column -->
      <ng-container matColumnDef="lastName" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
          <td mat-cell *matCellDef="let row" (click)="goToEdit(row)"> {{row.lastName}} </td>
        </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row" (click)="goToEdit(row)"> {{row.email}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>

        <td mat-cell *matCellDef="let row">
          <!-- <button mat-icon-button ><mat-icon>edit</mat-icon></button> -->
          <button mat-icon-button color="warn" (click)="delete(row)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </ng-container>
      
      <!-- <ng-container matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="12">
            Loading data...
          </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="12">
            No data.
          </mat-footer-cell>
        </ng-container> -->

     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr  class="pointer" mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
     
     <!-- <mat-footer-row *matFooterRowDef="['loading']"  ></mat-footer-row>
     <mat-footer-row *matFooterRowDef="['noData']"  ></mat-footer-row> -->
    </table>
    
 

    <mat-paginator #paginator
       
        [pageSize]="5"
        (page)="pageChanged($event)"
        [length]="filters.totalRecords"
        showFirstLastButtons
        [pageSizeOptions]="[5,25, 50, 100, 250]">
      <!-- [pageIndex]="pagination.pageNumber -->
    </mat-paginator>
</div>
