
<div class="example-button-row margin-bottom-20">   
    <button mat-raised-button color="primary" (click)="createUser()">
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      Create
    </button>
</div>
  
<div class="margin-bottom-20 ">
    <mat-accordion >
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header >
            <mat-panel-title >
              <i class="material-icons">filter_list</i>
              Filters
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <mat-form-field>
              <input matInput placeholder="Email">
          </mat-form-field>
    
        </mat-expansion-panel>
    </mat-accordion>
</div>


<div class="mat-elevation-z8 ">
    <table mat-table [dataSource]="users" matSort>
  
      <!--First Name Column -->
      <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
          <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
        </ng-container>

          <!--Last Name Column -->
      <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
          <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
        </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>

     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr  class="pointer" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToEdit(row)"></tr> 
    
    </table>
  
    <mat-paginator #paginator
    [length]="pagination.totalRecords"
    
    [pageSize]="pagination.pageSize"
    showFirstLastButtons
    [pageSizeOptions]="[5,25, 50, 100, 250]">
    <!-- [pageIndex]="pagination.pageNumber -->
</mat-paginator>
</div>
